<h5>マイページ</h5>
<div class="container">

<div class="row mb-3">
  <h6 class="ml-3 mt-1 mr-4 mb-0">登録情報</h6>
  <%= link_to '編集する', edit_customer_path(@customer), class:'btn btn-success py-0 px-5' %>
</div>

<table class="table table-bordered">
  <tr>
    <td class="table-active">氏名</td>
    <td><%= "#{@customer.last_name}　#{@customer.first_name}" %></td>
  </tr>
  <tr>
    <td class="table-active">郵便番号</td>
    <td><%= @customer.postcode %></td>
  </tr>
  <tr>
    <td class="table-active">住所</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td class="table-active">電話番号</td>
    <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
    <td class="table-active">メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
  <tr></tr>
</table>

<div class="row mb-3">
  <h6 class="mt-1 mr-4 mb-0 ml-3">配送先</h6>
  <%= link_to '一覧を見る', addresses_path, class:'btn btn-primary py-0 px-5 ml-2' %>
</div>
<div class="row mb-3">
  <h6 class="mt-1 mr-3 mb-0 ml-3">注文履歴</h6>
  <%= link_to '一覧を見る', orders_path, class:'btn btn-primary py-0 px-5' %>
</div>
</div>
