<div id="sign-in-main-visual"></div>
<div class="container my-5">
  <h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, id:'new_user', class:'new_user', local: true do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>
    <div class="row mb-3">
      <label class="col-lg-3">名前</label>
      <div class="col-lg-3">
        <span class="mr-3">(姓)</span>
        <%= f.text_field :last_name, autocomplete: 'first_name', placeholder:"令和", class:"mb-2" %>
      </div>
      <div class="col-lg-3">
        <span class="mr-3">(名)</span>
        <%= f.text_field :first_name, autocomplete: 'last_name', placeholder:'道子' %>    
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">フリガナ</label>
      <div class="col-lg-3">
        <span>(セイ)</span>
        <%= f.text_field :last_name_kana, autocomplete: 'first_name_kana', placeholder:'レイワ', class:"mb-2" %>
      </div>
      <div class="col-lg-3">
        <span>(メイ)</span>
        <%= f.text_field :first_name_kana, autocomplete: 'last_name_kana', placeholder:'ミチコ' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autocomplete: "email", class:'ml-5', placeholder:'sample@exanple.com' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">郵便番号(ハイフンなし)</label>
      <div class="col-lg-3">
        <%= f.text_field :postcode, autocomplete: 'postcode', placeholder:'0000000', class:'ml-5' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">住所</label>
      <div class="col-lg-7">
        <%= f.text_field :address , size: '56', autocomplete: 'address',placeholder:'東京都渋谷区代々木神園町0-0', class:'ml-5' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">電話番号(ハイフンなし)</label>
      <div class="col-lg-3">
        <%= f.text_field :phone_number, autocomplete: 'phone_number', class: 'ml-5' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">パスワード(6文字以上)</label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "new-password", class:'ml-5' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-lg-3">パワスワード(確認用)</label>
      <div class="col-lg-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'ml-5' %>
      </div>
    </div>
    
    <div class="row">
      <lavel class="col-lg-3"></lavel>
      <div class="col-lg-3">
        <%= f.submit "   新規登録   " , class:'btn btn-success ml-5 btn-sm px-5' %>
      </div>
    </div>
  
  <% end %>
  
  <h5 class="ml-4 mt-4 bg-light d-inline-flex">既に登録済みの方</h5>
  <div class="col-lg-12 mt-1 ml-5 mb-4">
      <%= link_to "こちら", new_customer_session_path %>
    からログインしてください
</div>
</div>

