<<<<<<< HEAD
<h1>admin::Items#index</h1>
<p>Find me in app/views/admin/items/index.html.erb</p>
=======
<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h1>商品一覧</h1>
        
        <!--新規登録画面へ-->
        <p class = "text-right">
          <%= link_to new_admin_item_path, class:"btn btn-info" do %>
           <i class="fas fa-plus"></i>
          <% end %>
        </p>
      
        <table class="table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
          <% @items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_item_path(item.id) %>  </td>
                <td><%= item.price_excluding_tax.to_s(:delimited) %></td>
                <td><%= item.genre.name %></td>
                <td><%= item.is_active ? "販売中" : "販売停止中" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</main>
>>>>>>> origin/develop
