 <div class="container">
     <h4>商品新規登録</h4>


      <%= form_with model:@item, url: admin_items_path, local:true do |f| %>

      <table>
        <div class ="form">
            <tr>
              <th width="200" height="50">
                <label class ="item_image">商品画像</label>
              </th>
              <td width="200" height="50">
               <%= f.attachment_field :image, :placeholder => "選択されていません" %>
              </td>
          </tr>
        </div>

        <div class ="form">
            <tr>
              <th width="200" height="50">
                <label class ="item_name">商品名</label>
              </th>
              <td width="200" height="50">
              <%= f.text_field :name, :placeholder => "商品名",size: "50" %>
              </td>
          </tr>
        </div>

        <div class ="form">
            <tr valign="top">
              <th width="200" height="50">
                <label class ="item_introduction">商品説明</label>
              </th>
              <td width="200" height="50">
                <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します",size: "50x10"%>
              </td>
          </tr>
        </div>

        <div class="form">
            <tr>
              <th width="200" height="50">
                <label class ="genre_name">ジャンル</label>
              </th>
              <td width="200" height="50">
                <%= f.select :genre_id, Genre.all.map {|genre| [genre.name, genre.id]},include_blank: "--選択して下さい--" %>
              </td>
          </tr>
        </div>

        <div class="form">
            <tr>
              <th width="200" height="50">
                <label class ="price_excluding_tax">税抜価格</label>
              </th>
              <td width="200" height="50">
              <%= f.text_field :price_excluding_tax, placeholder: "1000" ,size: "50"%>円
              </td>
          </tr>
        </div>
        <div class="form">
            <tr>
              <th width="200" height="50">
                <label class ="is_active">販売ステータス</label>
              </th>
              <td width="200" height="50">
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active,"販売中", {value: :true, style: "display: inline-block;"} %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active,"売切れ", {value: :false, style: "display: inline-block;"} %>
              </td>
          </tr>
        </div>
        <tr>
          <th width="200" height="50"></th>
          <td width="200" height="50">
            <%= f.submit "新規登録",class: "btn btn-success" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

