<main>
  <div class = "container">
    <h1><%= @customer.last_name + " " + @customer.first_name %>さんの会員詳細</h1>
    <div class = "row">
      <div class = "col-md-12">
        <table>
          <tr>
            <th width="200" height="50">会員ID</th>
            <td width="400" height="50"><%= @customer.id %></td>
          </tr>
          <tr>
            <th width="200" height="50">氏名</th>
            <td width="400" height="50"><%= @customer.last_name + " " + @customer.first_name %></td>
          </tr>
          <tr>
            <th width="200" height="50">フリガナ</th>
            <td width="400" height="50"><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th width="200" height="50">郵便番号</th>
            <td width="400" height="50"><%= @customer.postcode %></td>
          </tr>
          <tr>
            <th width="200" height="50">住所</th>
            <td width="400" height="50"><%= @customer.address %></td>
          </tr>
          <tr>
            <th width="200" height="50">電話番号</th>
            <td width="400" height="50"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th width="200" height="50">メールアドレス</th>
            <td width="400" height="50"><%= @customer.email %></td>
          </tr> 
          <tr>
            <th width="200" height="50">会員ステータス</th>
            <td width="400" height="50"><%= @customer.is_valid ? "有効" : "退会" %></td>
          </tr>
          <tr>
          <th></th>
            <td>
              <%=link_to "編集する", edit_admin_customer_path(@customer.id),class: "btn btn-success" %>
              <%=link_to "注文履歴一覧を見る", admin_orders_path,class: "btn btn-primary" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>