<div class = "container pt-5">
  <h4 class="pb-3">注文履歴一覧</h4>
  <div class="row">
  	<div class="col-md-12">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
              <% if order.order_status == '発送済み' %>
                <tr>
                  <td class="bg-secondary text-white">
                    <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %>
                  </td>
                  <td class="bg-secondary text-white"><%= order.customer.last_name+order.customer.first_name %></td>
                  <td class="bg-secondary text-white"><%= order.order_items.count %></td>
                  <td class="bg-secondary text-white"><%= order.order_status %></td>
                </tr>
              <% else %>
                <tr>
                  <td>
                    <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %>
                  </td>
                  <td><%= order.customer.last_name+order.customer.first_name %></td>
                  <td><%= order.order_items.count %></td>
                  <td><%= order.order_status %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>