<h1>ショッピングカート</h1>
<% if @carts.present? %>
  <%= link_to "カートを空にする", destroy_all_carts_path, method: :delete, class: "btn btn-danger" %>
<% end %>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>
          <%= attachment_image_tag cart.item, :image, size:"50x50" %>
          <%= cart.item.name %>
        </td>

        <td>
          <%= (cart.item.price_excluding_tax * 1.1).to_i.to_s(:delimited) %>
          <!--to_s(:delimited)で3桁区切りを表示する-->
        </td>

        <td>
          <%= form_with(model: cart, url: cart_path(cart.id),local: true,method: :patch) do |f| %>
            <%= f.number_field :quantity, max:10, min:1 %>
            <%= f.submit "変更", class: 'btn btn-success' %>
          <% end %>
        </td>

        <td>
          <%= ((cart.item.price_excluding_tax * 1.1).to_i * cart.quantity).to_s(:delimited) %>
        </td>

        <td>
          <%= link_to "削除する", cart_path(cart), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
  <% if @carts.present? %>
    合計金額：<%= @total_price.to_s(:delimited) %>
    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
  <% end %>