<h1>注文情報確認</h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
    <tr>
      <td>
        <%= attachment_image_tag cart.item, :image, size:"50x50" %>
      </td>

      <td>
        <%= (cart.item.price_excluding_tax * 1.1).to_i.to_s(:delimited) %>
      </td>

      <td>
        <%= cart.quantity %>
      </td>

      <td>
        <%= ((cart.item.price_excluding_tax * 1.1).to_i * cart.quantity).to_s(:delimited) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>送料</th>
      <th>商品合計</th>
      <th>請求金額</th>
    </tr>
  </thead>

  <%= form_with model: @order, local: true do |f| %>
  <tbody>
    <tr>
      <td>
        <%= f.hidden_field :shipping_fee, :value=> 800 %>
      </td>

      <td>
        <!--後で小計の総和を表示する-->
        <%= @order.total_price %>
      </td>

      <td>
        <%= 1800 %>
      </td>
    </tr>
  </tbody>
</table>

<h1>支払方法</h1>
 <%= @order.payment_method %>

<h1>お届け先</h1>
  <%= @order.address %>

<br>
<%= f.submit "注文を確定する", class: "btn btn-success" %>
<% end %>