<div class="container">
  <p id='alert' class="mb-0"><%= flash[:order_alert] %></p>
</div>

<div class="container mx-auto my-5">
  <div class="row">
    <div class="col-lg-6">

      <div class="row mb-3">
        <h1>注文情報入力</h1>
      </div>

      <div class="row">
        <h3>支払方法</h3>
      </div>

      <%= form_with(model: @order, local: true, url: confirm_new_order_path) do |f| %>
        <div class="row">
          <div class="col ml-4 mb-3">
            <label><%= f.radio_button :payment_method, :クレジットカード %>クレジットカード</label><br>
            <label><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</label>
          </div>
        </div>

        <div class="row">
          <h3>お届け先</h3>
        </div>

        <div class="row">
          <div class="col ml-4">
            <label><%= radio_button(:address_select, :address_type, :my_address) %>ご自身の住所</label>

            <div class="row ml-4 mb-3">
             〒<%= @customer.postcode + " " + @customer.address %><br>
              <%= @customer.last_name + @customer.first_name %>
            </div>

            <label><%= radio_button(:address_select, :address_type, :registered_address) %>登録済住所から選択</label>
            <div class="row ml-4 mb-4">
              <%= collection_select(:address_select, :address_id, @customer.addresses.all, :id, :customer_imformation) %>
            </div>

            <label><%= radio_button(:address_select, :address_type, :new_address) %>新しいお届け先</label>
            <div class="row ml-4 mb-3">
              <div class="col ml-0 pl-0" >
                <div class="row mr-3 mb-3">
                  <div class="col-6"><%= f.label :postcode, "郵便番号（ハイフンなし）", class:'small'  %></div>
                  <div class="col-6 px-0"><%= f.text_field :postcode, class:'col-12' %><br/>   </div>
                </div>

                <div class="row mr-3 mb-3">
                  <div class="col-2"><%= f.label :address, "住所" %></div>
                  <div class="col-10 px-0"><%= f.text_field :address, class:"col-12 px-0" %></div>
                </div>

                <div class="row mb-5 mr-3">
                  <div class="col-6"><%= f.label :recieve_name, "宛名" %></div>
                  <div class="col-6 px-0"><%= f.text_field :recieve_name, class:"col-12" %></div>
                </div>

              </div>
            </div>
           </div>
          </div>
            <%= f.submit "確認画面へ進む", class: "btn btn-primary mb-4 col-12" %>
        </div>
      <% end %>
      <div class="col-6 col-lg-5 col-xl-5 d-md-block d-md-none d-none mx-auto">
        <%= image_tag "orders_new.jpg" %>
      </div>
    </div>
  </div>
</div>