<main>
  <div class="index">
  <h2><span class="title">商品一覧</span><span class="count">（全<%= @items_count.count %>件）</span></h2>
  </div>

  <div class="items">
  <% @items.each do |item| %>
    <% if item.is_active == true %>
      <%= link_to item_path(item) do %>
        <div class="item">
             <%= attachment_image_tag item, :image, size:"250x200" %>
          <p><%= item.name %></p>
          <p>¥<%= (item.price_excluding_tax * 1.1).to_i.to_s(:delimited) %></p>
          <p><%= item.is_active ? "販売中" : "売切れ" %></p>
        </div>
      <% end %>
    <% else %>
        <div class="item">
          <p><%= attachment_image_tag item, :image, size:"250x200" %></p>
          <p><%= item.name %></p>
          <p>¥<%= (item.price_excluding_tax * 1.1).to_i.to_s(:delimited) %></p>
          <p><%= item.is_active ? "販売中" : "売切れ" %></p>
        </div>
    <% end %>
  <% end %>
  </div>

  <div class="paginate">
    <%= paginate @items %>
  </div>
</main>