<div class="row">
  <div class="col-lg-6">
    <div class="item-image">
      <%= attachment_image_tag @item, :image, size:"300x250" %>
    </div>
  </div>

  <div class="col-lg-6">
    <p class="name"><%= @item.name %></p>
    <p class="introduction"><%= @item.introduction  %></p>
    <p><span class="price">￥<%= (@item.price_excluding_tax * 1.1).to_i.to_s(:delimited) %></span>（税込）</p>

    <%= form_with model: @cart, local: true do |f| %>
      <%= f.number_field :quantity, max:10, min:1, placeholder:"個数選択" %>
      <!--プルダウンリストの数を決め、それを短く記述できるコードを考える。-->
      <%= f.hidden_field :item_id, :value => @item.id, class: "field" %>
      <%= f.submit "カートに入れる", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>