<header>
  <nav class="navbar navbar-expand navbar-light shadow-sm">
    <div class="container">
      <%= link_to 'NaganoCake', root_path, class:'navbar-brand p-2' %></a>
      <ul class="navbar-nav">
        <!--お客様のログイン時-->
        <% if customer_signed_in? %>
        <li class="nav-item"><span class="nav-link text-dark">ようこそ、<%= current_customer.last_name %>さん!</span></li>
        <li class="nav-item"><%= link_to 'マイページ', customers_mypage_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to '商品一覧', items_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'カート', carts_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:'nav-link' %></li>
        <!--管理者のログイン時-->
        <% elsif admin_signed_in? %>
        <li class="nav-item"><%= link_to '商品一覧', admin_items_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to '会員一覧', admin_customers_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to '注文履歴一覧', admin_orders_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ジャンル一覧', admin_genres_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'nav-link' %></li>
        <!--ログアウト時-->
        <% else %>
        <li class="nav-item"><%= link_to 'About', about_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to '商品一覧', items_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to '新規登録', customer_registration_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログイン', new_customer_session_path, class:'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>